html{
    font-family: sans-serif;

}
.formContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    
}


.header {
    display: flex;
    padding: 20px;
    justify-content: center;
    letter-spacing: 10px;
    color: #1abc9c;
    font-size: 8vw;
  }


.formBody{
    display: flex;
    flex-direction: column;

    
}

.formIdentification{
    align-items: center;

}

.idHeader{
    background-color: #1abc9c;
    color:white;
    font-size: 2vw;
    letter-spacing: 2px;
    font-weight:bolder;
    padding:5px;
    text-align: center;

    
}

.instructionsHeader{
    background-color: #1abc9c;
    color:white;
    font-size: 2vw;
    letter-spacing: 4px;
    font-weight:bolder;
    padding:5px;
    text-align: center;

    
}

.idInfoContainer{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;


}


.idInfo{
    display:flex;
    margin-top: 10px;
    
    gap:1em

}

.idRadio{
    display:flex;
    margin-top: 10px;
    gap: 5em;
}


.idAddress{
    display:flex;
    margin-top: 10px;

}
.idInput{
    display:flex;
    justify-content: space-evenly;
}



  .idAddress{
    display: flex;
    
  }

  .label-1{
    flex-grow:1;
  }

  .label-3{
    flex-grow:1;
  }
  
  input[type=text],
  input[type=password], 
  input[type=date]{
    width: 100%;
      margin-top: 5px;
      height: 3vh;
  }


  input{
    box-sizing: border-box;
  }

  .radioInputs{
    display: flex;
    align-items: flex-start;
  }

  .formQuestionsHeader{
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
  }

  .questionsHeader{
    background-color: #1abc9c;
    color:white;
    font-size: 2vw;
    letter-spacing: 4px;
    font-weight:bolder;
    padding:5px;
    text-align: center;
    flex:1
  }

  .ratingHeader{
    background-color: #1abc9c;
    color:white;
    font-size: 2vw;
    letter-spacing: 4px;
    font-weight:bolder;
    padding:5px;
    text-align: center;
    flex:1
  }

  .formQuestions{
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 1em;
  }

  .questions{
    flex:1;
    padding: 2px;
    margin: 2px;

  }

  .rating{
    display: flex;
    justify-content: space-evenly;

    flex: 1;
    padding: 2px;
    margin: 2px;

  }

  .ratingScale{
    display: flex;
    justify-content: space-around;
  }

  .radioRating{
    height: 4vh;
    width: 4vw;
  }
